* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color-primary: grey;
    --color-secondary: grey;
    --color-tertiary: #ffeee6;
    background-color: rgb(235, 235, 235);
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 50vh; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: var(--color-primary);
    height: 50%;
    width: 50%;
    
}

.home {
    height: 15%;
    width: 15%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 900;
    color: white;
}

img {
    width: 20%;
    height: 20%;
}

h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 60px;
    font-weight: 900;
    color: white;
}

.infoMot {
    font-size: 30px;
}

header {
    width: 100%;
    background-color: white;
    color: blue;
    margin-bottom: 10px;
}

/* nav {
    height: 50px;
    padding-right: 30px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    color: blue;
    background-color: var(--color-secondary)
} */

.liens {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

/* a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline;
    background-color: var(--color-primary);
    border-radius: 10px;
    color: white;
}

nav a {
    margin-left: 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 5px; 
}

div a {
    padding: 5px;
} */

/* ALLIGNE BOUTONS */
.button,
.div_tyres {
    display: inline-block;
}

.button_time,
.button_lap,
.boutonRestart {
    background-color: var(--color-primary);
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2em;
}

.button_time:hover,
.button_lap:hover,
.boutonRestart:hover {
    background-color: black;
    color: white;
}

.select {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
}

input[type="radio"].option {
    display: none;
  }
input[type="radio"].option + label {
    padding: 0.3rem 0.5rem;
    background-color: var(--color-primary);
    color: black;
    border-radius: 10px;
    border: 2px solid black;
}
input[type="radio"].option:checked + label,
input[type="radio"].option:hover + label {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}

div.result {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.race_time {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tours,
.fuel {
    display: inline;
}

/* TEMPS TOUR EN LIGNE */
.sec_lap,
.sec_test,
.sec_tyres {
    display: inline-flex;
    justify-content: center;
}

/* CENTRER ELEMENTS */
.race_time,
.conso_lap,
.div_temps,
.div_test {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LARGEUR DES BLOCK AVEC INPUTS */
.conso_lap,
.race_time,
.div_temps,
.div_test {
    width: 90%;
}

/* LARGEUR INPUTS ET MARGE */
.minutes,
.dixiemes {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.test_tours,
.test_usure {
    margin-right: 10px;
    margin-left: 10px;
}

.secondes {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* LARGEUR INPUTS */
.input_time,
.input_conso {
    width: 30%;
}

.input_test_tours,
.input_test_usure {
    width: 100%;
}

input[type='text'] {
    padding: 0.1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 900;
    font-size: 1em;
    color: black;
    text-align: center;
    margin-top: 1%;
}

::placeholder {
    opacity: 0.5;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

.sec_lap,
.sec_test {
    margin-left: 50px;
    margin-right: 50px;
}

.result {
    margin-top: 40px;
    margin-bottom: 20px;
}


label {
    font-size: 1.5em;
    font-weight: 500;
}

label.minutes,
label.secondes,
label.dixiemes,
label.test_tours,
label.test_usure {
    font-size: 1em;
}


.result {
    font-size: 1.5em;
    font-weight: 500;
}

span {
    font-weight: 900;
}


footer {
    width: 100%;
    height: 50px;
    color: blue;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    background-color: var(--color-secondary)
}